{% extends "base.html" %}
{% block title %}Register new account{% endblock %}
{% block content %}
<form method='POST'>
  {% csrf_token %}
  <div class='ma1'>
    {{form.username.label_tag}}
    {{form.username}}
  </div>
  <div class='ma1'>
    {{form.password1.label_tag}}
    {{form.password1}}
  </div>
  <div class='ma1'>
    {{form.password2.label_tag}}
    {{form.password2}}
  </div>

  <input class="ma1 br2 ma2-ns link white bg-dark-gray f6 dim pa2 mv2 dib" type='submit' value='Register'>
</form>

{% endblock %}
