.bg-lightsalmon { background: lightsalmon; }

.w-15 { width: 15%; }
.w-35 { width: 35%; }

.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
@media print {
    .flex-grow-0-p { flex-grow: 0; }
    .flex-grow-1-p { flex-grow: 1; }
    .flex-grow-2-p { flex-grow: 2; }
}

/* Via
   https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
   Safari is the bane of my existence, next to IE.
*/
@media screen {
    body {
        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }
    html {
        height: -webkit-fill-available;
    }
}

textarea {
    resize: none;
    min-height: 7.5rem;
}

pre { overflow-x: auto; }

.word-wrap { white-space: pre-wrap; }

.stripe-dark:nth-child(odd) {
    background-color: rgba(0, 0, 0, .1);
}

/* Force word wrapping on print */
@media print {
    pre {
        white-space: pre-wrap;
    }
}

#error-message dt:after { content: " — "; }
.errorlist { list-style-type: none; display: inline; padding: 0; }
.errorlist li { display: inline; }
.errorlist li:not(:last-child) { margin-right: .5em; }

.paste-card {
    height:150px;
    width:150px;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (min-width: 30em) {
    .paste-card {
        height:200px;
        width:200px;
    }
}

.paste-card:hover {
    background: #cdecff;
}

.paste-card:hover h2 {
    color:  #96ccff;
}

/* Extracted from tachyons for default link style */
a:not(.custom-link) { opacity: 1; transition: opacity .15s ease-in; }
a:hover:not(.custom-link), a:focus:not(.custom-link) { opacity: .5; transition: opacity .15s ease-in; }
a:active:not(.custom-link) { opacity: .8; transition: opacity .15s ease-out; }
