<!DOCTYPE html>
{% load static %}
<head>
  <title>{% block title %}{% endblock %} — Silly Paste</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">
  <link rel="stylesheet" href="{% static 'sillypaste/tachyons-print.css' %}">
  <link rel="stylesheet" href="{% static 'sillypaste/style.css' %}">
  {% block head %}{% endblock %}
</head>
<body class="flex flex-column bg-near-white black bg-white-p">
  <div>
    <nav id="navbar" class="flex justify-between bg-lightsalmon dn-p bb">
      <!-- Left -->
      <div class="flex flex-wrap">
        <div class="ma2 tl">
          <a class="link blue" href="{% url 'index' %}">Home</a>
        </div>
        <div class="ma2 tl">
          <a class="link blue" href="{% url 'make_paste' %}">Make a paste</a>
        </div>
      </div>
      <!-- Center -->
      <div>
        {% if request.user.is_authenticated %}
        <div class="i ma2">Hello <span class="b">{{request.user.username}}</span></div>
        {% endif %}
      </div>
      <!-- Right -->
      <div class="flex flex-wrap">
        <div class="ma2 tr">
          <a class="link blue tr" href="{% url 'all_pastes' %}">All pastes</a>
        </div>

        {% if request.user.is_authenticated %}
        <div class="ma2 tr">
          <a class="link blue tr" href="{% url 'my_pastes' %}">My Pastes</a>
        </div>
        {% endif %}

        {% if request.user.is_authenticated %}
        <div class="ma2 tr">
          <a class="link blue tr" href="{% url 'password_change' %}">Change Password</a>
        </div>
        {% endif %}

        <div class="ma2 tr">
          {% if request.user.is_authenticated %}
          <a class="link blue tr" href="{% url 'logout' %}">Log out</a>
          {% else %}
          <a class="link blue tr" href="{% url 'login' %}">Log in</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
  {% if error_message %}
  <div id="error-message" class="tc bg-light-red bg-white-p black pa2 bb">
    Error: {{ error_message }}
  </div>
  {% endif %}
  <div class="ma2 mw-100 bg-lightest-grey bg-white-p mh0-p flex-grow-1 flex-grow-0-p flex flex-column" id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="footer" class="pa1 bg-moon-gray black bt bg-white-p bw1-p">
    <div class="flex ph2">
      <div class="dn w-50-p db-p">
        Silly Paste
      </div>
      <div class='w-third tl flex flex-column pr2 dn-p'>
        <div>
          Made with some love by <a href="https://winny.tech/">winny</a>.
        </div>
        <div>
          Grab the <a href="https://github.com/winny-/sillypaste">source code</a>.
        </div>
      </div>
      <div class='w-third tc ph2 dn-p flex flex-column'>
        <div>
          <a href="{% url 'privacy_policy' %}">Privacy policy</a>
        </div>
      </div>
      <div class='w-third tr pl2 flex flex-column w-50-p'>
        <div>
          {% now 'DATETIME_FORMAT' %}
        </div>
        <div>
          <a href="{% url 'show_site_stats' %}">Statistics</a>
          <a href="{% url 'admin:index' %}">Admin</a>
        </div>
      </div>
    </div>
  </div>
</body>
