{% load static %}
<?DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} — Silly Paste</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">
  <link rel="stylesheet" href="{% static 'sillypaste/style.css' %}">
</head>
<body>
  <nav id="navbar" class="flex justify-between bg-lightsalmon">
    <!-- Left -->
    <div class="flex flex-wrap">
      <div class="ma2 tl">
        <a class="link blue" href="{% url 'index' %}">Home</a>
      </div>
      <div class="ma2 tl">
        <a class="link blue" href="{% url 'make_paste' %}">Make a paste</a>
      </div>
    </div>
    <!-- Right -->
    <div class="flex flex-wrap">
      <div class="ma2">
        <a class="link blue tr" href="{% url 'show_site_stats' %}">Statistics</a>
      </div>
      <div class="ma2 tr">
        <a class="link blue tr" href="{% url 'all_pastes' %}">All pastes</a>
      </div>
    </div>
  </nav>
  {% if error_message %}
  <div id="error-message" class="tc bg-red black pa2">
    Error: {{ error_message }}
  </div>
  {% endif %}
  <div class="ma2 mw-100" id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="footer" class="pa1">
    <hr>
    <div class="flex ph2">
      <div class='w-third tl pr2'>
        Made with some love by <a href="https://winny.tech/">winny</a>.
      </div>
      <div class='w-third tc ph2'>
        Grab the <a href="https://github.com/winny-/sillypaste">source code</a>.
      </div>
      <div class='w-third tr pl2 flex flex-column'>
        <div class='mb2'>
          <a href="{% url 'admin:index' %}">Admin</a>
        </div>
        <div>
          {% now 'DATETIME_FORMAT' %}
        </div>
      </div>
    </div>
  </div>
</body>
