<!DOCTYPE html>
{% load static localtime lazysignup_tags query_transform %}

<head>
  <title>{% block title %}{% endblock %} — Silly Paste</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet"
        href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">
  <link rel="stylesheet" href="{% static 'sillypaste/tachyons-print.css' %}">
  <link rel="stylesheet" href="{% static 'sillypaste/style.css' %}">
  <script type="text/javascript" src="{% static 'sillypaste/main.js' %}"></script>
  {% block head %}{% endblock %}
</head>

<body class="flex flex-column bg-near-white black bg-white-p">
  <div>
    <nav id="navbar" class="flex flex-column flex-row-ns justify-center justify-between-ns dn-p bb pa2" style="background: rgb(255,160,122); background: linear-gradient(0deg, rgba(255,160,122,1) 0%, rgba(255,196,173,1) 100%);">
      <!-- Left -->
      <div class="f4 flex flex-wrap order-0-ns order-1 w-40-ns justify-center justify-start-ns">
        <div class="ma2 tl flex flex-column justify-center">
          <a class="link dark-blue" href="{% url 'index' %}">Home</a>
        </div>
        <div class="ma2 tl flex flex-column justify-center">
          <a class="link dark-blue b" href="{% url 'make_paste' %}">Make a paste</a>
        </div>
      </div>
      <!-- Center -->
      <div class="w-20-ns order-2 order-1-ns flex justify-center">
        {% if request.user.is_authenticated and not user|is_lazy_user %}
          <div class="flex flex-column justify-center">
            <div class="i ma2">Hello <span class="b">{{request.user.username}}</span></div>
          </div>
        {% endif %}
      </div>

      <!-- Right -->
      <div class="f4 flex flex-wrap justify-center justify-end-ns w-40-ns order-2-ns order-1">
        <div class="ma2 tr flex flex-column justify-center">
          <a class="link dark-blue tr" href="{% url 'all_pastes' %}">All pastes</a>
        </div>

        {% if request.user.is_authenticated %}
          <div class="ma2 tr flex flex-column justify-center">
            <a class="link dark-blue tr" href="{% url 'profile' request.user.username %}">Profile</a>
          </div>
        {% endif %}

        <div class="ma2 tr flex flex-column justify-center">
          {% if request.user.is_authenticated and not user|is_lazy_user %}
            <a class="link dark-blue tr" href="{% url 'logout' %}">Log out</a>
          {% else %}
            <a class="link dark-blue tr" href="{% url 'login' %}">Log in</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
  {% block errors %}
    {% if form.errors %}
      <div id="error-message" class="tc bg-light-red bg-white-p black pa2 bb">
        {% if form.non_field_errors %}
          <div class="ma1">
            {{form.non_field_errors}}
          </div>
        {% endif %}
        <dl class='di'>
          {% for f in form %}

            {% if f.errors %}
              <dt class="b di">{{f.name}}</dt>
              <dd class='di ma0 mr1'>{{f.errors}}</dd>
            {% endif %}
          {% endfor %}
        </dl>

      </div>
    {% endif %}
  {% endblock %}
  <div class="ma2-ns mw-100 bg-lightest-grey bg-white-p mh0-p flex-grow-1 flex-grow-0-p flex flex-column" id="content">
    {% block content %}{% endblock %}
  </div>
  {# Via https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views #}
  {% block pagination %}
    {% if is_paginated %}
      <div class="pagination flex pa2 f4 bg-lightest-blue bt justify-center">
        <div class="page-links flex flex-wrap justify-center justify-between-ns flex-row-ns w-50-m w-40-l">
          <div class='w-20-ns tc tr-ns pa1'>
            {% if page_obj.has_previous %}
              <a href="{{ request.path }}?{% query_transform request page=page_obj.previous_page_number %}">back</a>
            {% endif %}
          </div>
          <div class="page-current w-60-ns tc pa1">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </div>
          <div class="w-20-ns tc tl-ns pa1">
            {% if page_obj.has_next %}
              <a href="{{ request.path }}?{% query_transform request page=page_obj.next_page_number %}">next</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}
  <div id="footer" class="pa2 bg-moon-gray black bt bg-white-p bw1-p lh-copy">
    <div class="flex ph2">
      <div class="dn w-50-p db-p">
        Silly Paste
      </div>
      <div class='w-40 tl flex flex-column pr2 dn-p'>
        <div>
          Made with some love by <a href="https://winny.tech/">winny</a>.
        </div>
        <div>
          Grab the <a href="https://github.com/winny-/sillypaste">source code</a>.
        </div>
      </div>
      <div class='w-20 tc ph2 dn-p flex flex-column'>
        <div>
          <a href="{% url 'privacy_policy' %}">Privacy policy</a>
        </div>
      </div>
      <div class='w-40 tr pl2 flex flex-column w-50-p'>
        <div>
          {% localtime %}
        </div>
        <div class='dn-p'>
          <ul class='di'>
            <li class='di pa1'>
              {% if request.user.is_authenticated %}
                <a href="{% url 'api-root' %}">API Explorer</a>
              {% endif %}
            </li>
            <li class='di pa1'>
              <a href="{% url 'show_site_stats' %}">Statistics</a>
            </li>
            <li class='di pa1'>
              <a href="{% url 'admin:index' %}">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
