{% extends "base.html" %}

{% block title %}Welcome to Silly Paste{% endblock %}

{% block content %}

{% if top %}
<h4>Top Pastes</h4>
<ul>
  {% for p in top %}
  <li>{{p.hits}} hit{{ p.hits|pluralize }}&nbsp;&mdash;&nbsp;<a href="{% url "show_paste" p.id %}">{{ p.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if recent %}
<h4>Recent Pastes</h4>
<ul>
  {% for p in recent %}
  <li>{{p.timestamp}}&nbsp;&mdash;&nbsp;<a href="{% url "show_paste" p.id %}">{{ p.title }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No pastes found.</p>
{% endif %}

{% endblock %}
