{% extends "base.html" %}
{% load localtime %}

{% block title %}Home 🏘{% endblock %}

{% block content %}

{% if top %}
<h1>Top Pastes</h1>
<div class="flex flex-wrap">
  {% for p in top %}
  <a class='grow custom-link no-underline' href="{% url 'show_paste' p.pk %}">
    <article class="w5 hidden ba ma1 ma2-ns shadow-1 paste-card">
      <h2 class="f4 bg-near-black white mv0 pv2 ph3" title="{{p.title}}">{{ p.title|truncatechars:15 }}</h2>
      <h2 class="f5 bg-near-black gray mv0 pv2 ph3">{{p.hits}} hit{{ p.hits|pluralize }}</h2>
      <div class="pa1 bt">
        <pre class="ma0">{{p.body|truncatechars:50}}</pre>
      </div>
    </article>
  </a>
  {% endfor %}
</div>
{% endif %}

{% if recent %}
<h1>Recent Pastes</h1>
<div class="flex flex-wrap">
  {% for p in recent %}
  <a class='grow custom-link no-underline' href="{% url 'show_paste' p.pk %}">
    <article class="w5 hidden ba ma1 ma2-ns shadow-1 paste-card">
      <h2 class="f4 bg-near-black white mv0 pv2 ph3" title="{{p.title}}">{{ p.title|truncatechars:15 }}</h2>
      <h2 class="f5 bg-near-black gray mv0 pv2 ph3">{% localtime p.timestamp %}</h2>
      <div class="pa1 bt">
        <pre class="ma0">{{p.body|truncatechars:50}}</pre>
      </div>
    </article>
  </a>
  {% endfor %}
</div>
{% else %}
<p>No pastes found.</p>
{% endif %}

{% endblock %}
