{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
<div class="flex f3 pv1 justify-between">
  <label class="w-25" for="{{ form.title.id_for_label }}">
    Title
  </label>
  <input class="w-75" id="{{ form.title.id_for_label }}" type="text" name="{{ form.title.html_name }}" placeholder="Your title here" value="{{ form.title.value|default:'' }}">
</div>
<div class="flex f5 mv2 justify-between">
  <div class="w-25">
    Expires after
  </div>
  <div class="w-75 flex flex-wrap justify-around items-center">
    {% for preset in form.EXPIRY_CHOICES_NO_CUSTOM %}
      <div class="ma1">
        <input id="expiry_preset_{{ preset.0 }}"
               type="radio"
               name="{{ form.expiry_preset.html_name }}"
               value="{{ preset.0 }}"{% if preset.0 == form.expiry_preset.value %} checked{% endif %}>
        <label for="expiry_preset_{{ preset.0 }}">{{ preset.1 }}</label>
      </div>
    {% endfor %}
    <div class="ma1 flex flex-row flex-wrap" title="FIXME: Custom time input does not work on Firefox and is in server time.  Hover over the time on the page footer for server time.">
      <div class="flex flex-row items-center">
        <input class="ma1"
               id="expiry_preset_custom"
               type="radio"
               name="{{ form.expiry_preset.html_name }}"
               value="custom"{% if form.expiry_preset.value == 'custom' %} checked{% endif %}>
        <label class="ma1"
               for="expiry_preset_custom">Custom</label>
      </div>
      <div>
        <input class=""
               id="{{ form.custom_expiry_date.id_for_label }}"
               name="{{ form.custom_expiry_date.html_name }}"
               type="date"
               {% if form.custom_expiry_date.value %}value="{{ form.custom_expiry_date.value }}"{% endif %}>
        <input class=""
               id="{{ form.custom_expiry_time.id_for_label }}"
               name="{{ form.custom_expiry_time.html_name }}"
               type="time" step='1'
               {% if form.custom_expiry_time.value %}
               value="{{ form.custom_expiry_time.value }}"
               {% else %}
               value="00:00"
               {% endif %}>
      </div>

      <noscript><p class="bg-washed-red pa2 ba mv2 shadow-1">Javascript is disabled&mdash;this time input will be submitted as server time (see the current time in the bottom right corner).</p></noscript>
    </div>
  </div>
</div>
<div class="flex flex-row flex-wrap">
  <div class="ma1 mr3">
    {{ form.language.label_tag }}
    {{ form.language }}
  </div>
  <div class="ma1 ml3">
    {{ form.private.label_tag }}
    {{ form.private }}
  </div>
</div>
<textarea class="code w-100 flex-grow-1" id="body" name="{{ form.body.html_name }}" placeholder="Your text here">{{ form.body.value|default:'' }}</textarea>
