{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<h1>Privacy Policy</h1>
<p class='i'>This is based off of the <a href='https://www.redditinc.com/policies/privacy-policy'>Reddit Privacy Policy</a> structure.  I have no idea what I'm doing, but I think this should work.  Comments? <a href='#contact-us'>Email me</a>.</p>
<h2>What We Collect</h2>
<p>We collect&hellip;</p>
<ol>
  <li>If you choose to create an account, you give us a site <b>username</b> and <b>password</b>.</li>
  <li>
    The content you enter into the site, e.g.:
    <ol>
      <li><b>uploaded paste content</b></li>
      <li><b>paste titles</b></li>
      <li>Miscellaneous paste data such as <b>expiry time</b> and <b>programming language</b>.</li>
    </ol>
  </li>
  <li>By the nature of IPv4/IPv6, you also share your public facing <b>internet address</b> with us.</li>
</ol>
<h2>How Long is Data Retained?</h2>
<p><b>IP addresses</b> are retained only in logs, which are flushed occasionally.</p>
<p><b>All other data</b> is retained as long as you have an account on this service.  Please see <a href='#your-choices'>Your Choices</a> for information on account removal.</p>
<h2>How We Use Information About You</h2>
<p>All data (<i>except for IP addresses and users' passwords</i>) is used to build various pages on the website.</p>
<h2>How Information About You is Shared</h2>
<p>We do not share data with other organizations or websites.</p>
<h2>Ads and Analytics Partners</h2>
<p>We have no ads or analytics partners.</p>
<h2 id='your-choices'>Your Choices</h2>
<p>If you wish for your data to be removed from the site, please <a href='#contact-us'>send an email</a> stating your username and that you wish for your site data to be removed.</p>
<!-- <h2>Other Information</h2> -->
<h2 id='contact-us'>Contact Us</h2>
<p>Write us any time at <a href='mailto:sillypaste-app@winny.tech'>sillypaste-app@winny.tech</a> with inquiries and account removal requests.</p>
{% endblock %}
