{% extends "base.html" %}
{% load static localtime lazysignup_tags %}
{% block title %}{{ paste.title }} (#{{ paste.id }}){% endblock %}
{% block head %}
  {% if rendered %}
    <link rel="stylesheet" href="{% static 'sillypaste/rendered.css' %}" />
  {% else %}
    <link rel="stylesheet" href="{% static 'sillypaste/pygments.css' %}" />
  {% endif %}
{% endblock %}
{% block content %}
  {% if can_edit %}
    <div class="flex flex-row flex-wrap justify-around {% if is_admin %}bg-light-red{% else %}bg-light-blue{% endif %} black bb ba-ns dn-p mb1">
      <div class="ma1 ma2-ns flex flex-column justify-center">
        {% if is_admin %}
          You have admin access.
        {% else %}
          You own this paste.
        {% endif %}
        Would you like to&hellip;
      </div>
      <div class="flex flex-row flex-wrap justify-center">
        <a class="ma1 br2 ba b--gray ma2-ns link white bg-dark-red f6 dim pa2 mv2 dib" href="{% url 'delete_paste' paste.id  %}">Delete this paste</a>
        <a class="ma1 br2 ba b--gray ma2-ns link white bg-blue f6 dim pa2 mv2 dib" href="{% url 'edit_paste' paste.id  %}">Edit this paste</a>
      </div>
    </div>
  {% endif %}
  <div class="flex">
    <h1 class="f2 ma1 w-90">{{ paste.title }}</h1>
    <div class="w-10 flex flex-column tr f5">
      <div class="h-40 h-100-p f3-p">
#{{ paste.id }}
      </div>
      <div class="h-60 dn-p">
        <a href="{% url 'show_raw' paste.id %}">Raw</a>
      </div>
    </div>
  </div>
  <dl class="flex flex-wrap justify-around ma0">
    <div class="flex flex-column ma3">
      <dt class="h-20 f4 b">Author</dt>
      <dd class="h-80 ma0">
        {% if paste.author and not paste.author|is_lazy_user %}
          <a class="link blue" href="{% url 'profile' paste.author.username %}">
            {{paste.author.username}}
          </a>
        {% else %}
          Anonymous
        {% endif %}
      </dd>
    </div>
    <div class="flex flex-column ma3">
      <dt class="h-20 f4 b">Created</dt>
      <dd class="h-80 ma0">{% localtime paste.timestamp %}</dd>
    </div>
    <div class="flex flex-column ma3">
      <dt class="h-20 f4 b">Expires</dt>
      <dd class="h-80 ma0">{% if paste.expiry %}{% localtime paste.expiry %}{% else %}Never{% endif %}</dd>
    </div>
    <div class="flex flex-column ma3"
         title="The title length plus the body length.  (Both as utf-8 bytes.)">
      <dt class="h-20 f4 b">Size</dt>
      <dd class="h-80 ma0">{{ paste.size|filesizeformat }}</dd>
    </div>
    <div class="flex flex-column ma3">
      <dt class="h-20 f4 b">Hits</dt>
      <dd class="h-80 ma0">{{ paste.hits }}</dd>
    </div>
    <div class="flex flex-column ma3">
      <dt class="h-20 f4 b">Syntax</dt>
      <dd class="h-80 ma0">{% if paste.language %}{{ paste.language.name }}{% else %}None{% endif %}</dd>
    </div>
  </dl>
  {% if paste.renderable %}
    <div class="flex flex-row flex-wrap justify-between bg-gold black bb ba-ns dn-p mb1">
      <div class="ma1 ma2-ns flex flex-column justify-center">
        {% if rendered %}
          You are viewing the rendered version of this paste.  Click "Source" to see the source.
        {% else %}
          You are viewing the source code of this paste.  Click "Render" to see the formatted version.
        {% endif %}
      </div>

      <div class="flex flex-row flex-wrap justify-center">
        <a class="ma1 br2 ba ma2-ns link f6 dim pa2 mv2 dib {% if rendered %}inactive-link light-silver bg-moon-gray b--moon-gray{% else %}white bg-navy b--gray{% endif %}"
           href="{% url 'render_paste' paste.id  %}">
          Render
        </a>
        <a class="ma1 br2 ba ma2-ns link f6 dim pa2 mv2 dib {% if not rendered %}inactive-link light-silver bg-moon-gray b--moon-gray{% else %}white bg-navy b--gray{% endif %}"
           href="{% url 'show_paste' paste.id  %}">
          Source
        </a>
      </div>
    </div>
  {% endif %}
  {% if rendered %}
    <div id='body-container' class='w-100 bw1 bw1-ns mt1 bt bb br-ns bl-ns b--dark-gray pa1 br-0-p bl-0-p ph0-p bb-0-p b--black-p bg-white rendered'>
      {{paste_body_html|safe}}
    </div>
  {% else %}
    <div class="no-select">
      <input type="checkbox" id="toggle-wrap" class="dn-p">
      <label for="toggle-wrap" class="dn-p">Wrap long lines</label>
      <noscript class="i">(This feature requires Javascript, sorry! 🙁)</noscript>
    </div>
    <div id='body-container' class="code w-100 bw1 bw1-ns mt1 bt bb br-ns bl-ns b--dark-gray pa1 br-0-p bl-0-p ph0-p bb-0-p b--black-p bg-white">
      {{paste_body_html|safe}}
    </div>
  {% endif %}
{% endblock %}
