{% extends "base.html" %}
{% load localtime %}

{% block title %}Home 🏘{% endblock %}

{% block content %}

  {% if top %}
    <h1 class='ma1 pa1 f2'>Top Pastes</h1>
    <div class="flex flex-wrap justify-center justify-start-ns mt2 mb3">
      {% for p in top %}
        <a class='grow custom-link no-underline' href="{% url 'show_paste' p.pk %}">
          <article class="w5 hidden ba ma1 ma2-ns shadow-1 paste-card">
            <h2 class="f4 bg-near-black white mv0 pv1 pv2-ns ph1 ph2-ns" title="{{p.title}}">{{ p.title|truncatechars:15 }}</h2>
            <h2 class="tr f6 f5-ns bg-near-black gray mv0 pb1 pb2-ns ph1 ph2-ns">{{p.hits}} hit{{ p.hits|pluralize }}</h2>
            <div class="pa1 bt">
              <pre class="black ma0 overflow-hidden">{{p.body_square}}</pre>
            </div>
          </article>
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if recent %}
    <h1 class='ma1 pa1 f2'>Recent Pastes</h1>
    <div class="flex flex-wrap justify-center justify-start-ns mt2 mb3">
      {% for p in recent %}
        <a class='grow custom-link no-underline' href="{% url 'show_paste' p.pk %}">
          <article class="w5 hidden ba ma1 ma2-ns shadow-1 paste-card">
            <h2 class="f4 bg-near-black white mv0 pv1 pv2-ns ph1 ph2-ns" title="{{p.title}}">{{ p.title|truncatechars:15 }}</h2>
            <h2 class="tr f6 f5-ns bg-near-black gray mv0 pb1 pb2-ns ph1 ph2-ns">{% localtime p.timestamp %}</h2>
            <div class="pa1 bt">
              <pre class="black ma0 overflow-hidden">{{p.body_square}}</pre>
            </div>
          </article>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No pastes found.</p>
  {% endif %}

{% endblock %}
